.splitter{
    width: 100%;
    height:50px;
}

.disappear {
    visibility: hidden;
}

.appear{
    visibility: inherit;
}

.my_card{
    height: 150px;
}

.hit_btn,.enough_btn,.bet_btn{
    width:150px;
}

.bet_input{
    min-width: 300px;
}

.my_card{
    position: relative;
}